<!-- Generated template for the LoaderdataComponent component -->
<ion-list  style="margin-top: 49px;" >
     
  <!-- <p style="    margin-left: 20px;">Showing results please wait...</p> -->
<div *ngFor="let fake of fakeUsers">
<div  class="div-parent"   >
  
  <div   class="div-left" >

    <div class="animate-imagebox" width="80"  ></div>
    </div>
    <div class="div-right" >
      <div class="div-right-inner" >
        <p class="p-text p-points-text" style="font-size:1.2rem"></p>
        <p class="p-text p-points-text"></p>
      </div>
      </div>
      <div class="div-text">

      </div>
     
    
 
 
    </div>
  </div>  


</ion-list>
