page-securitypanel {
.row-class
{
    background-color:#000;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strip-div{
    width: 81%;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #ffff !important;
}
.errorform{
    padding: 18px;
    margin-top: -15px;
}
.change-div
{
    position: absolute;
    width: 81%;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #ffff !important;
}
.login-div{
    
    display: inline-block;
    width: 49%;
    height: 36px;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
   
    text-align: center;
}
.check-style1{
    height: 18px;
    margin-right: 8px;
 
}
.regitser-div
{
    display: inline-block;
    width: 49.8%;
    height: 36px;
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
    
    text-align: center;
}
.col-option
{
    text-align:center 
}
.register-net{
    width: 100%;
    text-align: center;
    margin-top: 39px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: AvenirLTStd-Heavy;
}
.social-img
{
    height: 53px;
}
.p-divider
{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.8rem; 
}
.p-option
{
    font-weight:bold ;
    font-family: AvenirLTStd-Heavy;
}


  

.item-input{
    width: 91%;
    background-color: #E9E9E9;
    margin-bottom: 14px;
    border-radius: 5px;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #dedede;
    margin-left: 0px !important;
}
.col-style1{
    display: flex;
    justify-content: flex-end;
    padding: 7px !important;
}
.col-style2{
    display: flex;
    justify-content: flex-start;
    padding: 7px !important;
}
.p-tagline{
    position: absolute;
    width: 40%;
    top: 11px;
}
.forget-style{
    width: 100%;
    text-align: end;
    margin-right: 20px;
    margin-top: -1px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: AvenirLTStd-Heavy;
}
.row-button{
    display: flex;
    justify-content: center;
 

}
.check-style{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.check{
    margin-top: 14px;
    margin-right: 8px;
}
.bottom-bar{

    width: 100%;

    margin-bottom: 61px;
}
.icon-img{
    height: 20px;

}
.round-tab
{
    height: 35px;
    width: 78%;
  
    border: 2px solid #fff;
    border-radius: 30px;
    margin-top: 3px;
}
.col-stylelog{
    height: 33px;
    background-color: #fff;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}
.title-hope
{
    height:40px;
    width:100%;
    

    display: flex;
    justify-content: center;
}
.col-stylereg
{
    height: 33px;
    background-color: #fff;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}
.log-p{
//     color: black;
//     margin-top: 1px;
//     font-weight: 400;
//     font-size: 1.2rem;
// font-family: Muli !important;
margin-top: -3px;
    font-weight: 400;
  
    font-family: Muli !important;
    font-size: 1.5rem;
}
.reg-p{
    // color: black;
    // margin-top: 1px;
    // font-weight: 400;
    // font-size: 1.2rem;
    // font-family: Muli !important;
    margin-top: -3px;
    font-weight: 400;

    font-family: Muli !important;
    font-size: 1.5rem;
}
.text-input::-moz-placeholder {
    color:#000 ;
  }
  .input-font-family{
     font-family: AvenirLTStd-Roman !important;
  }
  .text-input:-ms-input-placeholder {
    color:#000 ;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color:#000;
  }
  .row-bottom{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 98px;
    width: 100%;
  
    bottom: 0px;
    margin-top: 77px;

  }
  .toolbar-background-md {
    border-color: #ffff;
    background: #fff;
}
.error-text
{
    color:red
}

}
